body{
    background-color:  rgba(89, 156, 243, 0.582);
    font-family: "Oxygen", sans-serif;
}
.nav{
    text-align: center;
}
.footer{
    text-align: center;
}
.nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    background-color: rgb(126, 187, 236);
}
.nav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: blue;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}
.nav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#span{
    font-weight: 500;
}
.forecast{
    display: grid;
    grid-template-columns: 2;
    margin-top: 50px;
}
.weatherwidget-io{
    display: grid;
    grid-column: 1;
    margin-right: 14px;
}
.widget{
    text-align: center;
    margin-left: 20px;
}
.hist_img{
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    text-align: center;
}
.weather_img{
    display: grid;
    grid-column: 2;
    width: 50%;
    margin: auto;
    margin-right: 300px;
}
.h2_border{
    -webkit-text-stroke: 1px aliceblue;
}